* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue:223 ;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	font-size: calc(6px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
body {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
}
main {
	padding: 1.5em 0;
}
.circle {
	border-radius: 50%;
	box-shadow: 0 0 0 2px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 16em;
	height: 16em;
	transform-origin: 50% 19.1%;
}
.circle > .circle {
	animation: circle 6s linear infinite;
	width: 61.8%;
	height: 61.8%;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animations */
@keyframes circle {
	from { transform: rotate(0); }
	to { transform: rotate(1turn); }
}

* {
	box-sizing: border-box;
	margin: 0;
  }
  
  body {
	font-family: "Ubuntu", system-ui, sans-serif;
	background-color: hsl(220, 45%, 8%);
	display: grid
	place-content: center;
	min-height: 100vh;
	padding-right: 1rem;
	padding-left: 1rem;
  }
  
  h1 {
	font-size: clamp(1rem, 1rem + 8vw, 3rem);
	text-align: center;
	max-width: 20ch;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(165deg, yellowgreen, cyan, mediumpurple);
	filter: drop-shadow(0.03em 0.03em 0.03em black);
  
	&::selection {
	  -webkit-text-fill-color: black;
	  background-color: mediumpurple;
	}
  }
  label{
	font-size: clamp(1rem, 1rem + 7vw, 0.5rem);
	text-align: center;
	max-width: 20ch;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(165deg, yellowgreen, cyan, mediumpurple);
	filter: drop-shadow(0.03em 0.03em 0.03em black);
  
	&::selection {
	  -webkit-text-fill-color: black;
	  background-color: mediumpurple;
	}

  }
  
